<nav class="navbar navbar-inverse navbar-expand">
      <div class="container">
          <a class="navbar-brand" routerLink="/">Spottitude</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
        <div style="font-size:13px;" id="navbar" class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <a style="margin-right:10px;" routerLink="/">Search</a>
            <a routerLink="/about">About</a>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>